<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>往期试卷</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
<!--    <link href="non-responsive.css" rel="stylesheet">-->
</head>

<body>
<div>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
                <a class="navbar-brand">the past</a>
            </div>
            <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="home">主页</a></li>
                    <li><a href="#about">制作新题</a></li>
                    <li><a href="contact_us" target="_blank">联系我们</a></li>

                </ul>
                <form class="navbar-form navbar-left">
                    <!--            <div class="form-group">-->
                    <!--              <input type="text" class="form-control" placeholder="输入关键词">-->
                    <!--            </div>-->
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <input class="container">

    <div class="page-header">
        <br><br>
        <h1>往期试卷</h1>
        <p class="lead">教师可在这里浏览往期已公布的试卷，也可以点击<a href="make_paper" target="_blank">这里</a>出一套新试卷。</p>
    </div>

    <div th:each="test:${tests}">

        <h3 th:text="${test.test_name}"></h3>
        开始时间：<p th:text="${test.start_time}"></p>
        结束时间：<p th:text="${test.end_time}"></p>
        试卷号：<p th:text="${test.test_id}"></p>
        出题人：<p th:text="${test.maker}"></p>
        <!--          id: <p th:text="${test.id}"></p>-->
        <a th:href="@{'/teacher/test_problem?test_id='+${test.test_id}}"><button class="" type="submit">详情</button></a>
        <a th:href="@{'/teacher/record?test='+${test.test_id}}"><button class="" type="submit">学生答题情况</button></a>
    </div>
    <input id="test_id" type="text" placeholder="输入删试卷号"/>
    <button type="submit" style="margin-left: 100px" onclick="deleteTest()">提交</button>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/jquery-3.4.1.min.js"></script>
<script>

    function deleteTest() {
        var test_id = parseInt($('#test_id').val());

        data = {
            "test_id":test_id
        };
        // alert(JSON.stringify(data));
        $.ajax({
            url:'/teacher/test',
            data:JSON.stringify(data),
            type:'DELETE',
            contentType:'application/json',
            success: function(retData) {
                alert("success");
            },
            error: function(retMsg) {
                alert("error");
            }
        });
    }

</script>
</body>
</html>