
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>海量题库</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="home.html">返回主页</a></li>
            <li role="presentation"><a href="#">关于</a></li>
            <li role="presentation"><a href="contact_us.html" target="_blank">联系我们</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">海量题库</h3>
      </div>

      <div class="jumbotron">
        <h3>哈尔滨工业大学题库</h3>
        <p class="lead">教师可为题库增添新题、改动原题、删除试题，亦可选择题目组成试卷。</p>
        <p><a class="btn btn-lg btn-success" href="make_paper.html" target="_blank" role="button">去出卷</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
      </div>

      <footer class="footer">
        <p>&copy; 哈尔滨工业大学题库网</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
