<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>海量题库</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="home">返回主页</a></li>
                <li role="presentation"><a href="#">关于</a></li>
                <li role="presentation"><a href="contact_us" target="_blank">联系我们</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">海量题库</h3>
    </div>

    <div class="jumbotron">
        <h3>哈尔滨工业大学题库</h3>
        <p class="lead">教师可为题库增添新题、改动原题、删除试题，亦可选择题目组成试卷。</p>
        <p><a class="btn btn-lg btn-success" onclick="showProblems()" href="#dd">删除题目</a></p>
        <p><a class="btn btn-lg btn-success" onclick="selectProblems()" href="#tt">去出试卷</a></p>
    </div>

    <div th:each="problem:${problems}">
        <table id="pc">
            <tr>
                <th th:text="'题号：'+${problem.problem_id}"></th>
                <th th:text="'题型：'+${problem.problem_type}"></th>
                <th th:text="' 题干：'+${problem.content}"></th>
            </tr>
            <tr>
                <td align="right">A</td>
                <td align="right" id="A" th:text="${problem.options[0]}"></td>
            </tr>

            <tr>
                <td align="right">B</td>
                <td align="right" id="B" th:text="${problem.options[1]}"></td>
            </tr>

            <tr>
                <td align="right">C</td>
                <td align="right" id="C" th:text="${problem.options[2]}"></td>
            </tr>

            <tr>
                <td align="right">D</td>
                <td align="right" id="D" th:text="${problem.options[3]}"></td>
            </tr>

            <tr>
                <td th:text="'正确答案： '+${problem.correct_answer}"></td>
            </tr>
            <tr>
                <td th:text="'出题人： '+${problem.maker}"></td>
            </tr>
        </table>
        <br>
        <br>
    </div>
</div>
<div id = "hidden">
    输入试卷名称
    <input id="test_name" type="text"/>
    输入题型
    <input id="test_type" type="text" />
    输入开始时间
    <input id="start_time" type="text" />
    输入结束时间
    <input id="end_time" type="text" />
    输入题号
    <input id="problem_id" type="text" />

    <button type="submit" style="margin-left: 100px" onclick="make_paper()">提交</button>
</div>

<input id="delete_problem_id" type="text" placeholder="输入删除题号">
<button type="submit" style="margin-left: 100px" onclick="deleteProblem()">提交</button>

<div id="dd"></div>
<div id="tt"></div>

<script src="../static/jquery-3.4.1.min.js"></script>
<script type="text/javascript">


    function selectProblems() {
        document.getElementById("hidden").style.display = "block";

    }

    function showProblems() {
        document.getElementById("hidden").style.display="none";
    }

    function make_paper() {
        var test_name = $('#test_name') .val();
        var test_type = $('#test_type').val();
        var start_time = $('#start_time').val();
        var end_time = $('#end_time').val();
        var problem_id_str = $('#problem_id').val().split(' ');
        var problem_id_array = [];
        for (var i=0; i<problem_id_str.length; i++){
            problem_id_array.push(parseInt(problem_id_str[i]));
        }

        var ca = document.cookie.split(';');
        for(var i = 0;i<ca.length;i++){
            var c = ca[i].trim();
            if (c.indexOf("username=") === 0) {
                var maker = c.substring(9, c.length);
            }
        }
        data = {
            "test_id":-1,
            "test_name":test_name,
            "start_time":start_time,
            "end_time":end_time,
            "test_type":test_type,
            "maker":maker,
            "problems":problem_id_array
        };
        alert(JSON.stringify(data));
        $.ajax({
            url:'/teacher/test',
            data:JSON.stringify(data),
            type:'PUT',
            contentType:'application/json',
            success: function(retData) {
                alert("success");
            },
            error: function(retMsg) {
                alert("error");
            }
        })
    }

    function deleteProblem() {
        var delete_problem_id = parseInt($('#delete_problem_id').val());

        data = {
            "problem_id":delete_problem_id
        };
        // alert(JSON.stringify(data));
        $.ajax({
            url:'/teacher/problems',
            data:JSON.stringify(data),
            type:'DELETE',
            contentType:'application/json',
            success: function(retData) {
                alert("success");
            },
            error: function(retMsg) {
                alert("error");
            }
        });
    }
    </script>


</body>
</html>