
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>海量题库</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="home">返回主页</a></li>
            <li role="presentation"><a href="#">关于</a></li>
            <li role="presentation"><a href="contact_us" target="_blank">联系我们</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">海量题库</h3>
      </div>

      <div class="jumbotron">
        <h3>哈尔滨工业大学题库</h3>
        <p class="lead">教师可为题库增添新题、改动原题、删除试题，亦可选择题目组成试卷。</p>
        <p><a class="btn btn-lg btn-success" onclick="selectProblems()" target="_blank" role="button">显示题目</a></p>
        <p><a class="btn btn-lg btn-success" onclick="selectProblems()" role="button">去出试卷</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h5><i>科目</i></h5>
          <p><span id="hhh"></span></p>
<!--          name相同则选项互斥，可以用题目id来作为name-->
          <label><input type="radio" name="radio1" value="0"/>选项1</label>
          <label><input type="radio" name="radio1" value="3"/>选项2</label>
          <label><input type="radio" name="radio1" value="1"/>选项3</label>
          <label><input type="radio" name="radio1" value="1"/>选项4</label>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <label><input type="radio" name="radio2" value="1"/>选项1</label>
          <label><input type="radio" name="radio2" value="1"/>选项2</label>
          <label><input type="radio" name="radio2" value="1"/>选项3</label>
          <label><input type="radio" name="radio2" value="1"/>选项4</label>
          <div class="select" id="ccc" style="display: none;"><label><input type="checkbox">加入考卷</label></div>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <label><input type="radio" name="radio3" value="1" checked="checked" />选项1</label>
          <label><input type="radio" name="radio3" value="1"/>选项2</label>
          <label><input type="radio" name="radio3" value="1"/>选项3</label>
          <label><input type="radio" name="radio3" value="1"/>选项4</label>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <label><input type="radio" name="radio4" value="1"/>选项1</label>
          <label><input type="radio" name="radio4" value="1"/>选项2</label>
          <label><input type="radio" name="radio4" value="1"/>选项3</label>
          <label><input type="radio" name="radio4" value="1"/>选项4</label>
          <h5><i>科目</i></h5>
          <p>这是一个题干</p>
          <label><input type="radio" name="radio5" value="1"/>选项1</label>
          <label><input type="radio" name="radio5" value="1"/>选项2</label>
          <label><input type="radio" name="radio5" value="1"/>选项3</label>
          <label><input type="radio" name="radio5" value="1"/>选项4</label>
      </div>

      <footer class="footer">
        <p>&copy; 哈尔滨工业大学题库网</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
      <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

      $.ajax({
        url:"/teacher/problems",
        type:"GET",
        success:function(data){
          var obj = JSON.parse(data);
          document.getElementById("hhh").innerHTML = obj.problems[0].content;
          alert(JSON.stringify(obj));
        }
      });
      function selectProblems() {
        // alert("shn");
        document.getElementById("ccc").style.display="block";
      }

      function showProblem() {
        sendRequest()

      }

      function senRequest (url,data,flag) {
        $.ajax({
          url:url,
          data:data,
          type:"POST",
          contentType:"application/json",
          success:function(retData) {
            var problem_id = retData.problem_id;
            var content = retData.content;
            var problem_type = reData.problem.type;
            var maker =retData.problem_maker;
            // var make_time = retData.make_time;
            var options = retData.option;
            var correct_answer = retData.answer_string;
          },
          error:function(retMsg) {
            //error
          }
        })
      }
    </script>
    </div>
  </body>
</html>
